<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <div class="nav container s12 m4 l8" style="display: flex; justify-content: center; gap: 20px;">
        <p><a href="/" class="waves-effect waves-light btn">Home</a></p>
        <p><a href="/projects" class="waves-effect waves-light btn">Projects</a></p>
        <p><a href="/contact" class="waves-effect waves-light btn">Contact</a></p>
    </div>

    <h2 class="" style="text-align: center; font-family: cursive; margin-bottom: 5%;">My Projects</h2>

    <div class="container" style="height: 650px; overflow: scroll;">
        <div class="project container" style="display: flex; gap: 50px;  margin-bottom: 20px; border: 3px solid black; padding: 5px;">
            <img src="https://placedog.net/200/175/g" alt="doggo!" style="border-radius: 25px; border: 2px solid black;">
            <div class="info">
            <h3>Cool Thing!</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, ipsum corporis sequi excepturi ducimus ut rem
                accusamus commodi reiciendis? Assumenda culpa esse sint ipsam exercitationem laboriosam vitae incidunt
                doloremque officiis.</p>
            </div>
        </div>

        <div class="project container" style="display: flex; gap: 50px; margin-bottom: 20px; border: 3px solid black; padding: 5px;">
            <img src="https://placedog.net/200/175/" alt="doggo!" style="border-radius: 25px; border: 2px solid black;">
            <div class="info">
            <h3>Cool Thing!</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, ipsum corporis sequi excepturi ducimus ut rem
                accusamus commodi reiciendis? Assumenda culpa esse sint ipsam exercitationem laboriosam vitae incidunt
                doloremque officiis.</p>
            </div>
        </div>

        <div class="project container" style="display: flex; gap: 50px;  margin-bottom: 20px; border: 3px solid black; padding: 5px;">
            <img src="https://placedog.net/200/175/y" alt="doggo!" style="border-radius: 25px; border: 2px solid black;">
            <div class="info">
            <h3>Cool Thing!</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, ipsum corporis sequi excepturi ducimus ut rem
                accusamus commodi reiciendis? Assumenda culpa esse sint ipsam exercitationem laboriosam vitae incidunt
                doloremque officiis.</p>
            </div>
        </div>

        <div class="project container" style="display: flex; gap: 50px;  margin-bottom: 20px; border: 3px solid black; padding: 5px;">
            <img src="https://placedog.net/200/175/s" alt="doggo!" style="border-radius: 25px; border: 2px solid black;">
            <div class="info">
            <h3>Cool Thing!</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, ipsum corporis sequi excepturi ducimus ut rem
                accusamus commodi reiciendis? Assumenda culpa esse sint ipsam exercitationem laboriosam vitae incidunt
                doloremque officiis.</p>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>