<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="~/css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <div class="nav container s12 m4 l8 dFlex" style="justify-content: center; gap: 20px; margin-top: 10px;">
        <p><a href="/" class="waves-effect waves-light btn">Home</a></p>
        <p><a href="/projects" class="waves-effect waves-light btn">Projects</a></p>
        <p><a href="/contact" class="waves-effect waves-light btn">Contact</a></p>
    </div>

    <h2 class="text-center" style="font-family: cursive; margin-bottom: 5%;">Contact Me</h2>

    <div class="form" >
        <form action="/" class="container" style="width: 400px; padding: 5px;">
            <div class="input-field col s6">
                <label for="name" style="font-size: 14pt;"></label>
                <input type="text" name="name" id="" placeholder="Name..." class="input-field" style="width: 400px; height: 50px;">
            </div>
            <div class="input-field col s6">
                <label for="email" style="font-size: 14pt;"></label>
                <input type="text" name="email" id="" placeholder="Email..." class="input-field" style="width: 400px; height: 50px;">
            </div>
            <div class="input-field col s6">
                <label for="message" style="font-size: 14pt;"></label>
                <textarea name="message" id="" cols="30" rows="10" style="width: 400px; height: 200px;" class="materialize-textarea" placeholder="Message..."></textarea>
            </div>
            <button type="submit" class="waves-effect waves-light btn">Submit</button>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>