<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <div class="nav container s12 m4 l8" style="display: flex; justify-content: center; gap: 20px;">
        <p><a href="/" class="waves-effect waves-light btn">Home</a></p>
        <p><a href="/projects" class="waves-effect waves-light btn">Projects</a></p>
        <p><a href="/contact" class="waves-effect waves-light btn">Contact</a></p>
    </div>

    <h2 class="" style="text-align: center; font-family: cursive; margin-bottom: 5%;">About me</h2>

    <div class="container" style="display: flex; gap: 15%;">
        <div class="leftcol">
            <img src="https://placekeanu.com/250/250/g" alt="" style="border-radius: 15px; border: 3px solid black; box-shadow: 5px 5px 5px gray;">
            <p style="text-align: center; font-size: 20pt; font-weight: bold;">John Wick</p>
            <p style="text-align: center; font-size: 16pt;">I like Stuff</p>
        </div>

        <div class="rightcol">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti aliquid veritatis suscipit vel quia
                sunt expedita repudiandae! Distinctio at impedit, obcaecati nulla tempore corrupti, quasi, eligendi
                harum ducimus deleniti ut.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti aliquid veritatis suscipit vel quia
                sunt expedita repudiandae! Distinctio at impedit, obcaecati nulla tempore corrupti, quasi, eligendi
                harum ducimus deleniti ut.</p>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>