<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <h1 style="text-align: center;">The Current Time and Date:</h1>
    
    <div class="container" style="text-align: center;">
        <h2>@ViewBag.CurrentTime.ToString("MMMM") @ViewBag.CurrentTime.Day, @ViewBag.CurrentTime.Year</h2>
        <h2>@ViewBag.CurrentTime.ToString("h:mm tt")</h2>
    </div>
</body>
</html>